*{
    margin: 0;
    padding: 0;
}
html{
    background-color: black;
}
h2{
    color: gold;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding: 250px;
    font-size: 4rem;
}